export SPRING_PROFILES_ACTIVE=local-postgres
export LOCAL_APP_PORT=8081

export LOCAL_GEOSERVER_BASE_URL=http://<host>:8080/<context-path>
export LOCAL_GEOSERVER_USERNAME=<username>
export LOCAL_GEOSERVER_PASSWORD=<password>
export LOCAL_GEOSERVER_WORKSPACE=site_selection_local
export LOCAL_GEOSERVER_INIT_RUN_ON_STARTUP=false

export LOCAL_PG_HOST=<host>
export LOCAL_PG_PORT=5432
export LOCAL_PG_DATABASE=<database>
export LOCAL_PG_SCHEMA=public
export LOCAL_PG_USERNAME=<username>
export LOCAL_PG_PASSWORD=<password>

export LOCAL_BASIC_BATCH_ID_DEFAULT="202511310100"
